PORT=4000
ALLOWED_ORIGIN=http://localhost:3000
SUPABASE_JWT_ISSUER=https://qphknepkmxsuccqebtwx.supabase.co/auth/v1
OCR_PROVIDER=google-document-ai
GOOGLE_DOCUMENT_AI_PROCESSOR_ENDPOINT=https://asia-south1-documentai.googleapis.com/v1/projects/1057602577320/locations/asia-south1/processors/3828c5aabc68c7a1:process
GOOGLE_DOCUMENT_AI_ACCESS_TOKEN=
GOOGLE_APPLICATION_CREDENTIALS=

MAX_FILE_SIZE_BYTES=10485760

